/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS RESET */
/*=============================================
/* CUSTOM */
* {
    font-family: 'Rajdhani', sans-serif;
}
* > {
    box-sizing: border-box;
}
.header {
    text-align: center;
    margin: 15px;
    font-size: 3em;
    font-weight: 900;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 3em;
    padding: 2em 0;
}
.content-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-weight: 600;
}
.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.uiContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.uiContainerItem {
    margin-bottom: 1em;
}
.sideBar {
    display: flex;
}
.sideBarChoices {
    display: flex;
    flex-direction: column;
}
.scoreboard-header {
    text-align: center;
    font-size: 2em;
}
.scores {
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin: .5em 0;
}
.player-scores {
    border-radius: .5em;
    padding: .5em;
    margin: 0 .5em;
}
.player-1-scores {
    background-color: rgb(217, 217, 250);
}
.player-2-scores {
    background-color: rgb(250, 217, 217);
}
.playerText {
    text-align: center;
    margin: 1%;
}
.playerScoreNum {
    margin: 0 .25em;
    font-size: 2em;
    text-align: center;
}
.choiceBtn {
    font-size: 1.5em;
    margin-right: .25em;
}
.choiceBtnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .5em;
}
.btn-base {
    border: 0;
    font-weight: 900;
    border: .01em solid rgb(217, 217, 250);
}
.game-options-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
}
#gameTable {
    display: flex;
    flex-direction: column;
    border: 1 solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.rowDiv {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tile {
    width: 1em;
    height: 1em;
    padding: .1em;
    font-size: 6em;
    text-align: center;
    border-radius: 4%;
    background-color: azure;
}

.tile-right {
    border-left: 1px solid gray;
}

.tile-left {
    border-right: 1px solid gray;
}

.tile-top {
    border-bottom: 1px solid gray;
}

.tile-bottom {
    border-top: 1px solid gray;
}

#scoreboard {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#githubIcon {
    height: 2em;
    transition: transform .5s ease-in-out;
}
#githubIcon:hover {
    height: 2.5em;
    transform: rotate(360deg);
}
#githubProfileLink {
    margin: .5em 0;
}
#restartBtn {
    font-size: 2em;
    font-weight: 900;
}

@keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}   
  }